---
layout: default
rdf_prefix_path: "_data/prefix.sparql"
---

{% capture binyan_query %}
SELECT ?binyan (max(?label_heA) as ?labelHeA) (min(?label_heB) as ?labelHeB) (min(?label_en) as ?labelEn)
{
  ?binyan a heb_schema:Binyan ;
    rdfs:label ?label_heA, ?label_en .
  FILTER (lang(?label_en) = 'en')
  FILTER (lang(?label_heA) = 'he')
  FILTER (!strstarts(?label_en, 'Barkali'))
  OPTIONAL {
    ?binyan rdfs:label ?label_heB .
    FILTER (lang(?label_heB) = 'he')
    FILTER (?label_heA != ?label_heB)
  }
} GROUP BY ?binyan ORDER BY ?label_heA
{% endcapture %}

<p>This page is built from the MMoOn Open Hebrew Inventory.</p>
<div class="segment">
  <span class="he">
    <p></p>
    <h2>ה בניינים</h2>
  </span>
  <span class="en">
    <h2>The Binyanim</h2>
  </span>
  <div class="clearfix"></div>
</div>

{% assign results = page.rdf | sparql_query: binyan_query %}
{% for row in results %}
<div class="segment">
  <p class="he"><a href="{{ row.binyan.page_url | prepend: site.baseurl }}">{{ row.labelHeA }}{% if row.labelHeB %}, {{ row.labelHeB }}{% endif %}</a></p>
  <p class="en"><a href="{{ row.binyan.page_url | prepend: site.baseurl }}">{{ row.labelEn }}</a></p>
  <div class="clearfix"></div>
</div>
{% endfor %}
