---
layout: default
rdf_prefix_path: "_data/prefix.sparql"
---

{% capture root_query %}
SELECT ?root ?label WHERE {
  ?root a <http://mmoon.org/lang/heb/schema/oh/PrimaryRoot> ;
    rdfs:label ?label .
} ORDER BY ?label
{% endcapture %}

<div class="segment">
  <span class="he">
    <p></p>
    <h2>ה שורשים</h2>
  </span>
  <span class="en">
    <p>This page is built from the MMoOn Open Hebrew Inventory.</p>
    <h2>The Roots</h2>
  </span>
  <div class="clearfix"></div>
</div>

{% include filter.html %}


{% assign results = page.rdf | sparql_query: root_query %}
<div class="segment">
<ul class="he">
{% for row in results %}
  <li><a href="{{ row.root.page_url | prepend: site.baseurl }}">{{ row.label }}</a></li>
{% endfor %}
</ul>
<div class="clearfix"></div>
</div>
