<div class="segment" style="padding-top: 1em">
  <span class="he">
    <dd><input type="text" id="inputFilter" /></dd>
    <div class="alphabet">
      <span>א</span>
      <span>ב</span>
      <span>ג</span>
      <span>ד</span>
      <span>ה</span>
      <span>ו</span>
      <span>ז</span>
      <span>ח</span>
      <span>ט</span>
      <span>י</span>
      <span>כ</span>
      <span>ך</span>
      <span>ל</span>
      <span>מ</span>
      <span>ם</span>
      <span>נ</span>
      <span>ן</span>
      <span>ס</span>
      <span>ע</span>
      <span>פ</span>
      <span>ף</span>
      <span>צ</span>
      <span>ץ</span>
      <span>ק</span>
      <span>ר</span>
      <span>ש</span>
      <span>ת</span>
      <div class="clearfix"></div>
    </div>
  </span>
  <span class="en">
    <p class="proplabel">Filter</p>
  </span>
  <div class="clearfix"></div>
</div>
