{% assign orthographic = representation | rdf_property: "mmoon:orthographicRepresentation" %}
{% assign vocalized = representation | rdf_property: "heb_schema:vocalizedRepresentation" %}
{% assign unvocalized = representation | rdf_property: "heb_schema:unvocalizedRepresentation" %}

{% if orthographic %}
<p class="he representation">{{ orthographic }}</p>
<p class="en proplabel">Orthographic Representation</p>
{% endif %}
<div class="clearfix"></div>
{% if vocalized %}
<p class="he representation">{{ vocalized }}</p>
<p class="en proplabel">Vocalized Representation</p>
{% endif %}
<div class="clearfix"></div>
{% if unvocalized %}
<p class="he representation">{{ unvocalized }}</p>
<p class="en proplabel">Unvocalized Representation</p>
{% endif %}
