---
layout: default
rdf_prefix_path: "_data/prefix.sparql"
title: "Binyan"
---

{% capture word_query %}
SELECT ?word ?label WHERE {
  ?word mmoon:consistsOfMorph ?resourceUri ;
    rdfs:label ?label .
} ORDER BY ?label
{% endcapture %}

<div class="segment">
  <div class="he">
    <h1>{{ page.rdf | rdf_property: "rdfs:label", "he", true | join: ", " }}</h1>
  </div>
  <div class="en">
    <h1>{{ page.rdf | rdf_property: "rdfs:label", "en", true | join: ", " }}</h1>
  </div>
  <div class="clearfix"></div>
</div>

{% include filter.html %}

{% assign results = page.rdf | sparql_query: word_query %}
<div class="segment">
  <ul class="he">
    {% for row in results %}
    <li><a href="{{ row.word.page_url | prepend: site.baseurl }}">{{ row.label }}</a></li>
    {% endfor %}
  </div>
  <ul class="en">
  </div>
  <div class="clearfix"></div>
</div>
