---
layout: default
rdf_prefix_path: "_data/prefix.sparql"
title: "Root"
---

{% assign types = page.rdf | rdf_property: "rdf:type", nil, true %}
{% assign representations = page.rdf | rdf_property: "mmoon:hasRepresentation", nil, true %}
{% assign roots = page.rdf | rdf_property: "heb_schema:consistsOfRoot", nil, true %}
{% assign belongsTo = page.rdf | rdf_property: "mmoon:belongsTo", nil, true %}
{% assign representations = page.rdf | rdf_property: "mmoon:hasRepresentation", nil, true %}

<div class="segment">
  <div class="he">
    <h1>{{ page.rdf | rdf_property: "rdfs:label" }}</h1>
  </div>
  <div class="clearfix"></div>
</div>

{% if types.first %}
<div class="segment">
  <div class="en">
    <span class="proplabel propheading">Type (rdf:type)</span>
    <ul>
    {% for type in types %}
    <span>{{ type }}</span>
    {% endfor %}
    </ul>
  </div>
  <div class="clearfix"></div>
</div>
{% endif %}

{% if representations.first %}
<div class="segment">
  <div class="he">
  </div>
  <div class="en">
    <p class="proplabel propheading">Representations (mmoon:hasRepresentation)</p>
  </div>
  <div class="clearfix"></div>
  {% for representation in representations %}
  {% include representation.html representation=representation %}
  <div class="clearfix"></div>
  {% endfor %}
</div>
{% endif %}

{% if roots.first %}
<div class="segment">
  <div class="he">
    <ul>
      {% for root in roots %}
      <li>{{ root.iri }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="en">
    <p class="proplabel propheading">Consists of Root (heb_schema:consistsOfRoot)</p>
  </div>
  <div class="clearfix"></div>
</div>
{% endif %}

{% if belongsTo.first %}
<div class="segment">
  <div class="he">
    <ul>
      {% for belongsTo_ in belongsTo %}
      <li><a href="{{ belongsTo_.page_url | prepend: site.baseurl }}">{{ belongsTo_ | rdf_property: "rdfs:label" }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="en">
    <p class="proplabel propheading">Belongs To (mmoon:belongsTo)</p>
  </div>
  <div class="clearfix"></div>
</div>
{% endif %}
